@import '../../styles/colors.scss';

.tag {
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
  margin: 0 4px 4px 0;
  position: relative;
  height: 24px;
  background: $color-blue;
  color: $color-white;
  border-radius: 12px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;

  i, 
  svg {
    position: absolute;
    right: 10px;
    width: 8px;
    height: 8px;
    cursor: pointer;
    fill: $color-white;
  }

  i {
    height: 12px;
  }
}

.clearable { 
  padding-right: 37px;
}
