$color-blue: #529df5;
$color-darkblue: #0060aa;
$color-red: #ff5757;
$color-orange: #ff7700;
$color-green: #23cd98;
$color-yellow: #ffcd00;
$color-darkyellow: #ffad00;
$color-purple: #4f64f3;
$color-lightblue: #5dcee2;
$color-fade-blue: #e3effd;
$color-face-red: #ffefef;
$color-fade-green: #e0f8eb;
$color-fade-yellow: #fff8db;
$color-fade-purple: #edeffd;
$color-fade-lightblue: #dff5f9;
$color-darkgrey: #566270;
$color-grey: #b2c0cf;
$color-lightgrey: #f1f1f1;
$color-white: #ffffff;
