.navigation ul {
  list-style: none;
  font-weight: bold;
  font-size: 16px;

  & > li {
    padding: 0 0 10px;
  }

  a { 
    text-decoration: none;
    color: #c8f0ff; 
  }

  li ul {
    display: none;
    font-weight: normal;
    font-size: 14px;

    li {
      padding: 5px 0 0 10px;
    }
  }

  li.active ul { 
    display: block;
  }
}
